* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Montserrat;
}

/* !Santy vos haces todo lo del main? porfiiiis */
/* ?Santy responde: sabes que ni ganas pero bueno ya lo hago */

/* *MAIN */
.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

.main__title{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.main__subtitle{
  font-size: 15px;
  font-weight: 200;
  text-align: center;
}

.main__image{
  max-width: 100%;
}

/* *MAIN */

/* !Recientes */
.recientes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.recientes__title {
  padding-left: 5px;
  font-size: 25px;
  font-weight: 300;
}

.recientes__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
}

.recientes__container-card {
  display: flex;
  padding-top: 8px;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  background-color: #080808;
  border-radius: 3px;
  margin-bottom: 10px;
}

.recientes__container-card-title{
  padding: 5px;
  font-size: 20px;
}

.recientes__container-card-img{
  border-radius: 0px 0px 3px 0px;
  max-width: 100%;
}
