.sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto 50px auto;
  border-radius: 8px;
  padding: 15px;
  width: 90%;
  background-color: #141414a9;
}

.sobre-nosotros__container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-nosotros__title {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title__text{
  text-align: center;
}

.sobre-nosotros__subtitle {
  text-decoration: underline;
  align-self: flex-start;
  text-align: center;
}

.sobre-nosotros__text {
  margin-bottom: 20px;
}

.sobre-nosotros__value-item {
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  .sobre-nosotros {
    width: 70%;
    background-color: transparent;
  }

  .sobre-nosotros__title {
    align-self: center;
  }
}